.counter {
  border-radius: 50%;
  box-sizing: border-box;
  padding: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  line-height: 1.7;
  background-color: #C9D1C8;
  transition: .6s;
  box-shadow: inset 0 0 8px 1px rgb(48, 64, 68), 0 0 2px 1px rgb(48, 64, 68) ;
  text-align: center;
  color: rgb(48, 64, 68);
  width: 45px;
  height: 45px;

}

.counter:hover {
  background-color: rgb(48, 64, 68);
  color: #C9D1C8;
  box-shadow: inset 0 0 8px 2px #C9D1C8, 0 0 2px 1px #C9D1C8 ;
}


/* rgb(48, 64, 68) */